# all backup emacs and vim files
*~

# mac files
.DS_Store
._*

# snakemake internal directories
.snakemake/

# notebook checkpoints
.ipynb_checkpoints/

# conda env
.warlock/

# core demon model
resources/demon_model

# test outputs
tests/test1/output
tests/test2/output
